form(method="post" action="/register")
    table 
        tr 
            td First Name
            td 
                input(type="text" name="firstName")
        
        tr 
            td Last Name 
            td 
                input(type="text" name="lastName")
        tr
            td Email 
            td 
                input(type="text" name="email")
        tr 
            td Password 
            td 
                input(type="password" name="password")
        
        tr 
            td
            td
                input(type="submit" value="Register")